<div class="app-container">
  <div class="side-nav">
    <nav>
      <a class="a-tag" routerLink="/profileForm" routerLinkActive="active">
        Personal Details
      </a>
      <a class="a-tag" routerLinkActive="active" (click)="forwardToProfessionalDetails()">
        Professional Details
      </a>
      <a class="a-tag" routerLinkActive="active" (click)="forwardToAttachmentDetails()" >
        Resume Details
      </a>  
    </nav>
  </div>
  <div class="form-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
