.books-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.book-container {
    background-color: pink;
    width: 50%;
    margin-top: 20px;
    padding: 20px;
}

.book-container h3,
h4,
p,
h2,
h6 {
    margin: 0px;
    padding: 0px;
}