/Day_31/BookStore/node_modules
/Day_32/Reactive-Form/node_modules
/Day_31/potatostore

/Day_34/userDetailForm/node_modules
/Day_34/angular-dynamic-form-fields-in-reactive-forms
/Day_34/BookStore/BookStore/bin/
/Day_34/BookStore/BookStore/obj/

/Day_35/Test/Test/bin
/Day_35/Test/Test/obj
/Day_35/Test/TestClass/bin
/Day_35/Test/TestClass/obj

/Day_35/

/Day_36

/Day_37/Employee/bin
/Day_37/Employee/obj