.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group {

}

.input-container{
    margin-top: 2%;
}

.submit-btn-container{
    display: flex;
    justify-content: center;
    margin-top: 3% ;
}

.error{
  color: red;
}