<div class="container" [formGroup]="userDetail.profDetailList">
  <div
    class="prof-form-container"
    *ngFor="let item of userDetail.profDetailFormGroup.controls; let i = index"
    formArrayName="professional"
  >
  <h4>Detail {{userDetail.profDetailFormGroup.controls.length}}</h4>
    <div class="form-wrapper" [formGroupName]="i">
      <ul class="input-container">
        <label for="">Company</label>
        <input type="text" class="form-control" formControlName="company" />
      </ul>
      <ul class="input-container">
        <label for="">Designation</label>
        <input type="text" class="form-control" formControlName="designation" />
      </ul>
      <ul class="input-container">
        <label for="">From</label>
        <input type="text" class="form-control" formControlName="startDate" />
      </ul>
      <ul class="input-container">
        <label for="">To</label>
        <input type="text" class="form-control" formControlName="endDate" />
      </ul>
      <ul class="input-container">
        <label for="">Skills</label>
        <input type="text" class="form-control" formControlName="skills" />
      </ul>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary" (click)="addNewProfDetail()">
      Add Skills
    </button>
    <button class="btn btn-primary" (click)="addNewProfDetail()">
      Remove Skills
    </button>
    <button class="btn btn-primary" (click)="goToAttachment()">
      Next
    </button>
  </div>
</div>
