.todo-container {
  background-color: white;
  width: 50%;
  height: 60%;
  left: calc(100% - 75%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  background-color: aliceblue;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.task-wrapper {
  background-color: antiquewhite;
  flex: 5;
  justify-content: center;
  width: 100%;
  overflow: auto;
}

.input-wrapper {
  background-color: rgb(122, 97, 97);
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
