@{
    ViewData["Title"] = "Employee Details";
}

@model IEnumerable<EmployeeProject.Models.Implementation.Department>

<div class="text-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DepartmentName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
