@{
    ViewData["Title"] = "New Employee";
}

@model EmployeeProject.ViewModel.EmployeeViewModel;

<div class="">
    <form method="POST" asp-controller="Home" asp-action="NewEmployee">
        <input hidden asp-for="Employee.Id" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span asp-validation-for="Employee.Name" class="text-danger"></span>
        <div class="form-group">
            <label class="col-3">Full Name:</label>
            <input class="col-6 form-control" type="text" asp-for="Employee.Name" id="Employee.Name">
        </div>
        <span asp-validation-for="Employee.Designation" class="text-danger"></span>
        <div class="form-group">
            <label class="col-3">Designation:</label>
            <input class="col-6 form-control" type="text" asp-for="Employee.Designation">
        </div>
        <div class="form-group">
            <label class="col-3">Department:</label>
            <select asp-for="Employee.DepartmentId">
                <option>---select a item---</option>
                @foreach (var item in Model.DepartmentList)
                {
                    <option class="col-6 form-control" value=@item.Id>@item.DepartmentName</option>
                }
            </select>
        </div>
        <span asp-validation-for="Employee.HireDate" class="text-danger"></span>
        <div class="form-group">
            <label class="col-3">HireDate:</label>
            <input class="col-6 form-control" type="date" asp-for="Employee.HireDate">
        </div>
        <input class="form-control" type="submit">
    </form>
</div>

@section Scripts
{
@{
    <partial name="_ValidationScriptsPartial" />
}
}
