<div class="app-container">
    <div class="side-nav">
        <nav>
            <a class="a-tag" routerLink="/profileForm" routerLinkActive="active">Personal Details</a
      >
      <a
        class="a-tag"
        routerLinkActive="active"
        routerLink="professionalDetails"
        >Professional Details</a
      >
      <a class="a-tag" routerLinkActive="active" routerLink="attachmentDetails"
        >Resume Details</a
      >
    </nav>
  </div>
  <div class="form-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>